<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <title>الأسئلة الشائعة - نظام يسر</title>
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      h1 {
        color: var(--primary-green);
        text-align: center;
      }
      h2 {
        color: var(--primary-teal);
        margin-top: 30px;
      }
      ul {
        list-style-type: square;
        padding-right: 20px;
      }
      .note {
        background-color: var(--primary-light);
        border: 1px solid var(--primary-teal);
        padding: 15px;
        border-radius: 5px;
        margin-top: 30px;
      }
    </style>
  </head>

  <body dir="rtl" lang="ar">
      
    <!-- Add NavBar  -->


<nav class="visitor-nav">
      <div class="header">
      <img src="/images/logo-trans9.png" alt="شعار الموقع" class="logo">
     </div>

      <a class="nav-link" href="#" onclick="history.back()"> 
        <i class="bi bi-house-fill"></i>&nbsp;
        <span style="font-size: 20px;">الصفحة الرئيسية   </span>
      </a>

    </nav>
    
    
  <!-- End NavBar  -->
    <div class="container col col-center">
      <img src="/images/logo-trans.png" width="400" />
      <div>
        <h1>الأسئلة الشائعة – نظام يسر</h1>

        <h2>1. ما هو نظام ﻳُسر؟</h2>
        <p>
          ﻳُسر هو نظام إلكتروني ﻳُمكّن أولياء الأمور من تقديم طلبات الاستئذان
          المدرسي لطالباتهم في المدارس الحكومية بسهولة وسرعة، مما يقلل من
          الإجراءات الورقية ويُعزز التواصل مع الإدارة المدرسية.
        </p>

        <h2>2. كيف يمكنني التسجيل؟</h2>
        <p>التسجيل يتم عن طريق إدارة المدرسة تلقائي.</p>

        <h2>3. طريقة تسجيل الدخول؟</h2>
        <p>تسجيل الدخول عن طريق إدخال رقم الجوال ومن ثم إدخال كود التحقق</p>

        <h2>4. كيف أضيف طالب جديد؟</h2>
        <p>
          يتم اضافة الطالب من خلال المدرسة وستظهر في حساب ولي امر الطالب بشكل
          تلقائي
        </p>

        <h2>5. هل التسجيل في المنصة مجاني؟</h2>
        <p>
          نعم، جميع خدمات منصة ﻳُسر مجانية بالكامل للمستخدمين من أولياء الأمور
          والمدارس.
        </p>
      </div>
      <br />
      
      <!-- <a class="backBtn" href="#" onclick="history.back()">
        الصفحة السابقة
      </a> -->
      <div style="height: 8vh"></div>
    </div>
    <div class="footers">
      <div class="row row-center">جميع الحقوق محفوظة لمنصة ﻳُسر 2025</div>
    </div>
  </body>
</html>
