<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <title>الصفحة الرئيسية</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body dir="rtl" lang="ar">
    <nav class="visitor-nav">
      <div class="header">
      <img src="/images/logo-trans9.png" alt="شعار الموقع" class="logo">
     </div>

      <a class="nav-link" href="/about">
        <i class="bi bi-info-circle-fill"></i>&nbsp;
        <span style="font-size: 20px;">عن يسر </span>
      </a>

      <a class="nav-link" href="/faq">
        <i class="bi bi-question-circle-fill"></i>&nbsp;
        <span style="font-size: 20px;">الاسئلة الشائعة</span>
      </a>
      <a class="nav-link" href="/support">
        <i class="bi bi-headset"></i>&nbsp;
        <span style="font-size: 20px;">الدعم الفني</span>
      </a>
    </nav>
    <div class="main-container">
      <div class="row" style=" align-items: start">
        <div style="width: 50%; padding: 40px">
          <div class="big-logo">
            <img src="/images/logo-trans.png" />
          </div>
          <br />
          <p style="font-size: 1.5em">لطلبات الاستئذان المدرسية</p>
          <p style="font-size: 1.75em; font-weight: bold; margin-top: 10px">
            لأن الوقت ثمين يسرنا لأجلك ...
          </p>

          <p>
            يسر هو موقع إلكتروني يهدف إلى تسهيل وتنظيم عملية اﻻستئذان للطالبات
            في المدارس الحكومية. يمكن أولياء اﻷمور من تقديم طلبات اﻻستئذان
            إلكترونيا، ويتيح للمدرسة مراجعة الطلبات والموافقة عليها بسرعة
            وفعالية، مما يسهم في تحسين تجربة التواصل وتوفير الوقت والجهد
          </p>
          <a href="/auth/login">
            <button
              class="btn"
              style="font-size: 1.6rem; padding: 5px 50px; border-radius: 50px;margin: 1rem 0;"
            >
              تسجيل الدخول
            </button>
          </a>
        </div>
        <div
          style="
            width: 50%;
            height: calc(100vh + 8rem);
            overflow: hidden;
            background-size: cover;
        
          "
        >
          <img class="img-cover" src="/images/bg.png" />
        </div>
      </div>
    </div>
    <body>
    <div class="footers">
      <div>
        <div style= "font-size: 20px;">yosr_web@</div>
        <a  href="/support" style="color: white">
          <i class="bi bi-headset"></i>&nbsp;
          <span style="font-size: 20px;">الدعم الفني</span>
        </a>
      </div>
      <div class="row row-center">جميع الحقوق محفوظة لمنصة ﻳُسر 2025</div>
    </div>
  </body>
</html>