<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <title>تسجيل الدخول</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body dir="rtl" lang="ar">
  
    <!-- Add NavBar  -->


<nav class="visitor-nav">
      <div class="header">
      <img src="/images/logo-trans9.png" alt="شعار الموقع" class="logo">
     </div>

     
     <a class="nav-link" href="#" onclick="history.back()"> 
        <i class="bi bi-house-fill"></i>&nbsp;
        <span style="font-size: 20px;">الصفحة الرئيسية   </span>
      </a>


      <a class="nav-link" href="/about">
        <i class="bi bi-info-circle-fill"></i>&nbsp;
        <span style="font-size: 20px;">عن يسر </span>
      </a>

      <a class="nav-link" href="/faq">
        <i class="bi bi-question-circle-fill"></i>&nbsp;
        <span style="font-size: 20px;">الاسئلة الشائعة</span>
      </a>
      <a class="nav-link" href="/support">
        <i class="bi bi-headset"></i>&nbsp;
        <span style="font-size: 20px;">الدعم الفني</span>
      </a>
    </nav>
    
    
  <!-- End NavBar  -->


 <!-- Add NavBar  -->


    <div class="container">
      <form id="login-form" method="post">
        <!-- <a href="/">الصفحة الرئيسية</a> -->
        <h2>تسجيل الدخول ( ولي امر )</h2>
        <input name="loginType" type="hidden" value="PARENT" />
        <input name="phone" type="text" placeholder="رقم الجوال" />
        <% if(locals.error) { %>
        <p class="error-alert"><%= error %></p>
        <% } %>
        <button type="submit">دخول</button>
      </form>
    </div>
    <div style="height: 58vh"></div>
    <div class="footers">
      <div class="row row-center">جميع الحقوق محفوظة لمنصة ﻳُسر 2025</div>
    </div>
  </body>
</html>


 <!-- End NavBar  -->