<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <title>من نحن</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body dir="rtl" lang="ar">

 
    <!-- Add NavBar  -->


<nav class="visitor-nav">
      <div class="header">
      <img src="/images/logo-trans9.png" alt="شعار الموقع" class="logo">
     </div>


     <a class="nav-link" href="#" onclick="history.back()"> 
        <i class="bi bi-house-fill"></i>&nbsp;
        <span style="font-size: 20px;">الصفحة الرئيسية   </span>
      </a>




    </nav>
    
    
  <!-- End NavBar  -->

    <div class="container col col-center">
      <img src="/images/logo-trans.png" width="400" />
      <p style="width: 50%; text-align: center">
        مرحبًا بك في صفحة الدعم الفني لمنصة يُسر. نحن هنا لمساعدتك في حال واجهت
        أي مشكلة أثناء استخدام المنصة، سواء كانت تتعلق بتسجيل الدخول، تقديم
        الطلبات، أو ظهور أخطاء في النظام.
      </p>
      <a href="mailto://yosr.web@hotmail.com">
        <button class="btn">اتصل بنا | yosr.web@hotmail.com</button>
      </a>
      <!-- <a class="backBtn" href="#" onclick="history.back()">
        الصفحة السابقة
      </a> -->
      <div style="height: 48vh"></div>
    </div>
    <div class="footers">
      <div class="row row-center">جميع الحقوق محفوظة لمنصة ﻳُسر 2025</div>
    </div>
  </body>
</html>
